/WarLegend/Intermediate
/WarLegend/Saved
/WarLegend/DerivedDataCache
/WarLegend/Config
/WarLegend/.idea
/WarLegend/Binaries
__ExternalActors__/TopDown/Lvl_TopDown/0/DB/UA7XFIUSLJR06L2NXQ8IZV.uasset
/WarLegend/Content/__ExternalActors__/TopDown
/WarLegend/Content/__ExternalObjects__
/WarLegend/Content/BattleWizardPBR
/WarLegend/Content/Characters
/WarLegend/Content/GuiParts
/WarLegend/Content/LevelPrototyping
/WarLegend/Content/Stylized_Nature_Set
/WarLegend/Content/StylizedBarrierShader
/WarLegend/Content/StylizedWeather
/WarLegend/Content/TopDown
/WarLegend/Plugins
/WarLegend/Content/CuteCreature
/WarLegend/Content/__ExternalActors__
/WarLegend/Content/SwordTrailVFX
/WarLegend/Content/Content/Battle
/WarLegend/Content/Content
/WarLegend/Content
/WarLegend/Content
/WarLegend/Content
