WarLegend/Binaries/Win64/UnrealEditor-WarLegend.patch_4.exe
/WarLegend/Binaries
/WarLegend/Saved
/WarLegend/Plugins
/WarLegend/Intermediate
/WarLegend/.idea
/WarLegend/DerivedDataCache
/WarLegend/Config
/WarLegend/.claude
/WarLegend/Content
